---
import BaseLayout from '@layouts/BaseLayout.astro';
import ExternalLink from '@components/ExternalLink.astro';

import {
    POTTERY_IG_URL,
    LINKEDIN,
    GITHUB_URL,
    YOUTUBE_URL,
} from '../extenalLinks';
const BASE_URL = import.meta.env.SITE;
const description =
    "What's going on! I'm a software engineer, runner, hiker, and potter based in the Bronx.";
---

<BaseLayout title="Home" description={description}>
    <h1>Kasozi Wilson</h1>
    <img src=`${BASE_URL}assets/images/kasozi_pnw.jpg` />
    <p>
        What's going on! I'm a software engineer, runner, hiker, and <ExternalLink
            href={POTTERY_IG_URL}>potter</ExternalLink
        > based in the Bronx. I've been writing code since 2014, and most of that
        experience has been centered around web development.
    </p>
    <p>
        Catch me on <ExternalLink href={GITHUB_URL}>Github</ExternalLink>, <ExternalLink
            href={YOUTUBE_URL}>Youtube</ExternalLink
        >, and <ExternalLink href={LINKEDIN}>LinkedIn</ExternalLink>.
    </p>
</BaseLayout>
<style>
    p {
        width: 700px;
        margin: 8px;
        @media (max-width: 900px) {
            width: 100%;
        }
    }

    img {
        width: 100%;
        border-radius: 4px;
        aspect-ratio: 1;
    }
</style>
