---
import { dateWithShortMonth } from '@utils/date';
import ReadingTime from '@components/ReadingTime.astro';
import CircleSeparator from '@components/CircleSeparator.astro';
const { blogPost, isPost } = Astro.props;

const formattedPublishedDate = dateWithShortMonth(blogPost.data.publishedDate);
---

<div class="header">
    {
        !isPost && (
            <nav class="post-preview-header">
                <a href={`/blog/${blogPost.id}`}>{blogPost.data.title}</a>
                <div class="post-date-reading-time">
                    <p>{formattedPublishedDate}</p>
                    <CircleSeparator />
                    <ReadingTime blogPost={blogPost} />
                </div>
            </nav>
        )
    }

    {
        isPost && (
            <div class="post-header">
                <h1>{blogPost.data.title}</h1>
                <div class="post-date-reading-time">
                    <p class="published-date">{formattedPublishedDate}</p>
                    <CircleSeparator />
                    <ReadingTime blogPost={blogPost} />
                </div>
            </div>
        )
    }
</div>
<style>
    .header {
        margin-bottom: 24px;
    }
    .post-preview-header {
        font-size: 0.85rem;
    }

    .post-header {
        font-size: 1.1rem;
    }

    .post-date-reading-time {
        display: flex;
        column-gap: 8px;
        align-items: baseline;
    }

    .header a {
        font-size: 1.5rem;
    }

    .header h1 {
        font-size: 2.5rem;
        @media (max-width: 720px) {
            font-size: 2rem;
        }
    }
</style>
