---
import ScreenReaderOnly from './ScreenReaderOnly.astro';
const { page, id } = Astro.props;
const pageLabel = `Page ${page.currentPage}`;
---

{
    page.currentPage === 1 ? (
        <ScreenReaderOnly>
            <span id={id}>{pageLabel}</span>
        </ScreenReaderOnly>
    ) : (
        <span id={id}>{pageLabel}</span>
    )
}
