---
const { title, og_type = 'website' } = Astro.props;
import ResetCss from '@components/ResetCss.astro';
import Navmenu from '@components/NavMenu.astro';
const BASE_URL = import.meta.env.SITE;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content={og_type} />
        <meta property="og:url" content={Astro.url} />
        <meta
            property="og:image"
            content=`${BASE_URL}assets/images/kasozi_pnw.jpg`
        />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>

        <ResetCss />
    </head>
    <body>
        <main>
            <Navmenu />
            <section>
                <slot />
            </section>
        </main>
    </body>
</html>
<style>
    main {
        max-width: 45rem;
        margin: 0 auto;
        padding: 12px 0px;

        @media (max-width: 700px) {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    section {
        padding: 16px;
    }
</style>
